---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Elixiti - Operativna inteligenca za delovno intenzivna podjetja" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#0A192F] text-[#e2e8f0] font-sans antialiased">
		<slot />
	</body>
</html>
